/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {

        'bbmap_bbduk' {
            args = "ktrim=r ordered minlen=51 minlenfraction=0.33 mink=11 tbo tpe rcomp=f k=23 ow=t hdist=1 hdist2=1 ftm=5 zl=4 ref=adapters,artifacts"
            args2 = "maq=5 trimq=10 qtrim=f ordered ow=t maxns=1 minlen=51 minlenfraction=0.33 k=25 hdist=1 zl=6 ref=adapters,artifacts,phix"
            args3 = "ordered ow=t k=20 hdist=1 zl=6 ref=adapters,artifacts,phix"
            publish_files   = ['fastq.gz':'', 'yml': '']
            publish_by_meta = ['bbmap_bbduk']
            publish_dir     = "./shortreads"
        }
        'bbmap_bbduk_qc_stats' {

            args                ="short"
            suffix              = "qc"
            publish_by_meta = ['bbmap_bbduk']
            publish_files   = ['seqstats.txt':'']
            publish_dir     = "./shortreads"

        }
        'bbmap_bbduk_qc_seqtk_fqchk' {
            args                ="short"
            suffix              = "qc"
            publish_by_meta = ['bbmap_bbduk']
            publish_files   = [ 'yml': '']
            publish_dir     = "./shortreads"
        }

        'csvtk_concat'{
            args = ""
            //publish_files   = ['yml': '']
            //publish_by_meta = ['fastqc_raw', "id"]
            publish_dir = "./report"

        }
        'fastqc_raw' {
            args = "--quiet"
            publish_files   = ['zip':'', 'html': '', 'yml': '']
            publish_by_meta = ['fastqc_raw', "id"]
            publish_dir = "./shortreads"
        }
         'fastqc_qc' {
            args = "--quiet"
            publish_files   = ['zip':'', 'html': '', 'yml': '']
            publish_by_meta = ['fastqc_qc', "id"]
            publish_dir = "./shortreads"
        }

        'filtlong' {
            args = "--min_length 500 "
            publish_files = [ '_filtlong.fastq.gz':'', 'yml': '' ]
            publish_by_meta = ['filtlong']
            publish_dir     = "./QC_longreads"
        }

        'get_sampleids'{
            publish_files = ['sids.txt':'']
            publish_dir = '.'
        }

        'kraken2' {
            args = ""
            publish_files = ['kraken2.report.txt':'', 'fastq.gz':'', 'yml': '' ]
            publish_by_meta = ['kraken2']
            publish_dir = "./taxonomy"
        }
        'kraken2_bracken' {
            args = "-r 100 -l S"
            publish_files   = ['output.txt':'', 'outreport.txt': '', 'yml': '']
            publish_by_meta = ['kraken2']
            publish_dir = "./taxonomy"
        }

        'metamaps'{
            args = ""
            //publish_files   = ['output.txt':'', 'outreport.txt': '', 'yml': '']
            publish_by_meta = ['metamaps']
            publish_dir = "./taxonomy"
        }
         'multiqc' {
            args = ""
            publish_dir = "./multiqc"

        }
        'nanoplot_raw' {
            args = "-c darkblue --tsv_stats --info_in_report --plots hex dot"
            publish_by_meta = ['nanoplot_raw', 'id']
            publish_dir = "./longreads"
        }
        'nanoplot_qc' {
            args = "-c darkblue --tsv_stats --info_in_report --plots hex dot"
            publish_by_meta = ['nanoplot_qc', 'id']
            publish_dir = "./longreads"
        }

        'porechop' {
            args = ""
            publish_files = [ '_porechop.fastq':'', 'yml': '' ]
            publish_by_meta = ['porechop']
            publish_dir     = "./longreads"
        }
        'porechop_qc_seqtk_fqchk' {
            args                = "long"
            suffix              = "qc"
            publish_by_meta = ['porechop']
            publish_files   = ['yml': '']
            publish_dir     = "./longreads"
        }
        'porechop_qc_seq_stats' {

            args                ="long"
            suffix              = "qc"
            publish_by_meta = ['porechop']
            publish_files   = ['seqstats.txt':'']
            publish_dir     = "./longreads"

        }
        'samtools_index' {
            args = ""
            publish_dir     = "shortreads/dehost"
        }
        'samtools_index_long' {
            args = ""
            publish_dir     = "longreads/dehost"
        }
        'samtools_sort' {
            args = ""
            suffix = "_dehosted_sort"
            publish_dir     = "shortreads/dehost"
        }
        'samtools_sort_long' {
            args = ""
            suffix = "_dehosted_sort"
            publish_dir     = "longreads/dehost"
        }

        //only keep the pairs which both reads are unmmping
        'samtools_view_dehost_short'{

            args = "-f 12  -bhS"
            suffix = "_dehosted"
            publish_dir     = "shortreads/dehost"
        }
        'samtools_view_dehost_long'{

            args = "-f 4 -F 256 -bhS"
            suffix = "_dehosted"
            publish_dir     = "longreads/dehost"
        }

        'seq_stats_longreads_raw' {

            args                ="long"
            suffix              = "raw"
            publish_by_meta = ['rawstats']
            publish_files   = ['seqstats.txt':'']
            publish_dir     = "./longreads"

        }
         'seq_stats_longreads_dehost' {

            args                ="long"
            suffix              = "dehosted"
            publish_files   = ['seqstats.txt':'']
            publish_dir     = "./longreads/dehost"

        }

        'seq_stats_shortreads_dehost' {

            args                ="short"
            suffix              = "dehosted"
            publish_files   = ['seqstats.txt':'']
            publish_dir     = "./shortreads/dehost"

        }
        'seq_stats_shortreads_raw' {

            args                ="short"
            suffix              = "raw"
            publish_by_meta = ['rawstats']
            publish_files   = ['seqstats.txt':'']
            publish_dir     = "./shortreads"

        }


        'seqtk_fqchk_longreads_raw' {
            args                = "long"
            suffix              = "raw"
            publish_by_meta = ['rawstats']
            publish_files   = ['yml': '']
            publish_dir     = "./longreads"
        }
         'seqtk_fqchk_longreads_dehost' {
            args                = "long"
            suffix              = "dehosted"
            publish_files   = ['yml': '']
            publish_dir     = "./longreads/dehost"
        }

       'seqtk_fqchk_shortreads_dehost'{
            args                ="short"
            suffix              = "dehosted"
            publish_files   = ['yml': '']
            publish_dir     = "./shortreads/dehost"
        }


        'seqtk_fqchk_shortreads_raw' {
            args                ="short"
            suffix              = "raw"
            publish_by_meta = ['rawstats']
            publish_files   = ['yml': '']
            publish_dir     = "./shortreads"
        }


    }
}
